<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Flux Deployer</title>
	    <link href="https://fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
	    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
	    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
	    <link rel="stylesheet" href="/css/spring.css"/>
	    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>
		<div id="header">
			<h1>Flux Deployer</h1>
			<p>Deploy your Flux project now.</p>
		</div>
		
		<div id="leftNav">
			Left nav menu
		</div>
		
		<div id="content" layout:fragment="content">
			<p>Welcome, <span th:text="${account.firstName}">first-name</span>!</p>
			
			<form method="POST" th:action="@{/signout}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<button>Sign Out</button>
			</form>
		</div>		
	</body>
</html>
