<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Flux Deployer</title>
	    <link href="https://fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css"/>
	    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
	    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
	    <link rel="stylesheet" href="/css/spring.css"/>
	    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>
	<div class="container-fluid">
		<div class="row">
			<div id="header" class="initializr-header">
				<div class="container">
					<h1>Flux Deployer</h1>
					<p>Deploy your Flux project now.</p>
				</div>
 			</div>
 		</div>
		
		<div id="content" layout:fragment="content">
			<form id="signin" class="form-horizontal" th:action="@{/cloudfoundry/processLogin}" method="post">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
			<div class="row">
				<div class="col-sm-6">
				
				<h3>CloudFoundry Sing In</h3>
				
				<div class="formInfo">
					<div class="error" th:if="${param.error !=null}" th:text="${param.error[0]}">
					</div>
				</div>

				<div class="form-group">
					<label for="login" class="col-md-3 control-label">Email</label>
					<div class="col-md-8">
						<input id="login" name="cf_login" type="text" size="50"/>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-md-3 control-label">Password</label>
					<div class="col-md-8">
						<input id="pasword" name="cf_password" type="password"/>
					</div>
				</div>
				<button type="submit">Sign In</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	</body>
</html>
